<app-header></app-header>
<section class="welcome-section">
    <div class="welcome">
        <div class="welcome__intro">
            <h2 class="welcome__title" i18n>TrelloClone helps teams get things done efficiently.</h2>
            <p class="welcome__text">Work as a team, manage projects and take productivity to the next level in your own unique way with Trello.</p>
            <div class="welcome__form">
                <input type="text" placeholder="E-mail" class="input-email">
                <a mat-flat-button color="primary" href="/signup" class="welcome__form__button" i18n>Register - it's free!</a>
            </div>
        </div>
        <div class="welcome__pic">
            <img src="./assets/images/hero.png" alt="hero">
        </div>
    </div>
</section>
