@import '../../../assets/mixin';
.header__top {
  display: flex;
  padding: 2vh 0;
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  transition: background 1s ease 0s;

  &_inverse {
    background-color: #fff;
  }

  .header__nav {
    display: flex;
    margin: 0 7px 0 7px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .header__title {
    font-size: 2rem;
    font-family: 'BeVietnam', 'arial', sans-serif;
    font-weight: 900;
    color: var(--col-title);
  }

  .header__logo {
    height: 24px;
    width: 40px;
  }
}

.signup-btn {
  background-color: var(--btn-main);
  margin-left: 10px;

  &:hover {
    background-color: var(--btn-hover);
  }

  &:focus {
    @include boxShadow;
  }
}
