.participants {
  margin: 10px 15px;

  &__section-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  &__avatar {
    border-radius: 50px;
    width: 40px;
  }

  &__name {
    font-weight: bold;
    margin: 0;
  }

  &__nickname {
    margin: 0;
    color: #7a7a7a;
    font-size: 12px;
    display: inline;
  }

  &__delete {
    color: var(--input-color);
    cursor: pointer;
  }
}
