<app-header></app-header>
<div class="settings-wrapper">
    <div class="settings-header">
        <div class="settings-header__avatar">
            <img src="{{ this.user?.picture }}" alt="avatar">
        </div>
        <div class="settings-header__title">
            <div class="settings-header__title__name">{{ this.user?.name }}</div>
            <div class="settings-header__title__nick">@{{ this.user?.nickname }}</div>
        </div>
    </div>
    <mat-tab-group mat-align-tabs="center" animationDuration="0ms" dynamicHeight>
        <mat-tab label="{{ 'settings.tab-profile' | translate}}">
            <app-tab-accaunt [user]="this.user"></app-tab-accaunt>
        </mat-tab>
        <mat-tab label="{{ 'settings.tab-actions' | translate}}">
            <app-tab-actions></app-tab-actions>
        </mat-tab>
<!--        <mat-tab label="{{ 'settings.tab-cards' | translate}}"> Content 3</mat-tab>-->
        <mat-tab label="{{ 'settings.tab-settings' | translate}}">
            <app-tab-settings></app-tab-settings>
        </mat-tab>
    </mat-tab-group>
</div>
<footer>
    <p class="footer__element">

        <a class="github-link" href="https://github.com/Iryna-Ivanitska"
           target="_blank"> Iryna Ivanytska </a>
        |
        <a class="github-link" href="https://github.com/KozerenkoRoman"
           target="_blank"> Roman Kozerenko </a>
        |
        <a class="github-link" href="https://github.com/VictoriaIL"
           target="_blank"> VictoriaIl </a>
    </p>
    <p class="footer__element">© 2022</p>
    <p class="footer__element"><a href="https://rs.school/js/" target="_blank"><img class="rs-logo-img"
                                                                                    src="https://rs.school/images/rs_school_js.svg"
                                                                                    alt="RS School Logo"></a></p>
</footer>
