<div class="popup">
    <div class="popup__wrapper">
        <div class="popup__form">
            <h2 mat-dialog-title class="popup__title">Create a board</h2>
            <p class="popup__description">Boost your productivity by giving your team members easy access to the
                board.</p>

            <mat-dialog-content [formGroup]="formGroup">
                <mat-form-field appearance="outline" class="popup__input">
                    <input matInput placeholder="Board title" formControlName="title">
                    <mat-error *ngIf="formGroup.controls['title'].invalid" i18n>
                        Please enter a title
                    </mat-error>
                    <mat-hint>Enter the name of your team, company or organization.</mat-hint>
                </mat-form-field>
            </mat-dialog-content>

            <mat-dialog-actions>
                <button mat-stroked-button (click)="create()" class="btn-full-width">Create</button>
            </mat-dialog-actions>
        </div>
        <div class="popup__pic">
            <img src="./../../../../assets/images/svg/empty-board.svg" alt="">
        </div>
    </div>
</div>
