<div class="wrapper">
    <div class="wrapper__title">{{ "tab-profile.acc-settings" | translate}}</div>
    <div class="acc-form">
        <mat-dialog-content [formGroup]="formGroup">
            <mat-form-field appearance="outline" class="acc-form__input">
                <input matInput placeholder="{{'tab-profile.nickname' | translate}}" formControlName="nickname">
                <mat-hint>{{ 'tab-profile.nick-enter' | translate}}</mat-hint>
            </mat-form-field>
        </mat-dialog-content>
        <mat-dialog-actions>
            <button type="button" mat-stroked-button class="acc-form__btn">{{'tab-profile.save' | translate}}</button>
        </mat-dialog-actions>
    </div>
</div>
