<!--<mat-card (click)="openDialog($event);$event.stopPropagation()">-->
<mat-card>
    <mat-card-content>
        <p class="card__title">{{card?.title}}</p>
        <button #cardEditBtn
                mat-icon-button
                (click)="editButtonClick();$event.stopPropagation()"
                class="card__edit-btn"
                [matMenuTriggerFor]="cardMenu"
                #trigger="matMenuTrigger">
            <mat-icon class="card__edit-icon">edit</mat-icon>
        </button>
    </mat-card-content>
<!--    <mat-card-content>-->
<!--        <input *ngIf="trigger.menuOpen"-->
<!--               #cardTitleInput-->
<!--               [value]="card?.title"-->
<!--               class="card__input-title"-->
<!--               matInput type="text"-->
<!--               placeholder="Enter a title for this card"-->
<!--               autocomplete="off"-->
<!--               autofocus>-->
<!--    </mat-card-content>-->
    <div class="card__icons-panel">
        <div class="comments" *ngIf="card.cardItems.length">
            <mat-icon>comment</mat-icon>
            {{ card.cardItems?.length }}
        </div>
    </div>

    <mat-menu #cardMenu="matMenu">
        <button mat-menu-item
                (click)="openDialog($event);$event.stopPropagation()">
            <mat-icon>picture_in_picture</mat-icon>
            <span>Open card</span>
        </button>
        <button mat-menu-item
                (click)="deleteCard(card?.id);$event.stopPropagation()">
            <mat-icon>delete</mat-icon>
            <span>Delete card</span>
        </button>
    </mat-menu>
</mat-card>
