<div class="actions">
    <h3 class="actions__section-title">
        <mat-icon>edit</mat-icon>
        Actions
    </h3>
    <mat-spinner *ngIf="!boardActivity" [diameter]="30"></mat-spinner>

    <mat-list *ngIf="boardActivity" class="actions__list-of-actions">

        <mat-list-item class="actions__list-item"
                       *ngFor="let activity of boardActivity">


            <img class="item__avatar"
                 [src]="activity.picture"
                 alt="avatar">
            <div class="item__info">
                <p class="item__text">{{activity.name}} </p>
                <p class="item__text">{{activity.action}} {{activity.table}}</p>
                <p class="item__text"> {{activity.info}}</p>
                <p class="item__text"> {{activity.created | date: "hh:mm dd/MM/yyyy"}}</p>
            </div>

        </mat-list-item>
    </mat-list>
</div>
