<div class="list__title-container">
    <input
        #columnTitleInput
           (change)="changeColumnTitle(columnTitleInput.value)"
           class="list__title"
           matInput type="text"
           placeholder="Enter a title for this list"
           autocomplete="off"
           required
    [value]="column.title">
    <button mat-icon-button
            [matMenuTriggerFor]="menu">
        <img class="list__menu-icon"
             src="../../../../../assets/images/svg/three_dots_icon.svg"
             alt="Tree dots icon">
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item
                (click)="deleteColumn(column?.id)">
            <mat-icon>delete</mat-icon>
            <span>Delete list</span>
        </button>
    </mat-menu>
</div>
<div class="list__cards-container"
     cdkDropList
     [cdkDropListData]="column.cards"
     (cdkDropListDropped)="drop($event)">
    <app-card class="list__card"
              *ngFor="let card of this.column?.cards"
              [card]="card"
              (OnDeleteCard)="deleteCard($event)"
              cdkDrag></app-card>
</div>
<button class="list__new-card-btn"
        mat-stroked-button
        (click)="addNewCard()">
    <mat-icon>add</mat-icon>
    Add a new card
</button>
