<app-header></app-header>

<div class="boards" routerLink="/board-content">
    <h2 class="space-title" *ngIf="favorites.length" i18n>Marked boards</h2>
    <div class="boards__block">
        <div class="boards__item" *ngFor="let board of favorites" [ngStyle]=getBg(board.background)>
            <h4 class="boards__item__title">{{board.title}}</h4>
            <div class="boards__item__star" (click)="addToFavorites(board.id)" [ngStyle]=getStar(board.isFavorite)></div>
        </div>
    </div>

    <h2 class="space-title" i18n>Your workspace</h2>
    <p *ngIf="!boards.length">You have not been added to any workspace yet.
        <a (click)="openDialog()">Create workspace</a></p>
    <div *ngIf="boards.length" class="boards__block">
        <div class="boards__item" *ngFor="let board of boards" [ngStyle]=getBg(board.background)>
            <h4 class="boards__item__title">{{board.title}}</h4>
            <div class="boards__item__star" (click)="addToFavorites(board.id)" [ngStyle]=getStar(board.isFavorite)></div>
        </div>
    </div>
</div>
