<div class="about">
    <h3 class="about__section-title">
        <mat-icon>person</mat-icon>
        {{'administrator' | translate}}
    </h3>
    <h3 class="about__section-title">
        <mat-icon>view_headline</mat-icon>
        {{ 'description' | translate}}
    </h3>
    <textarea autosize
              [formControl]="boardDescriptionInput"
              class="about__description-input"
              rows="4"
              placeholder="{{'add-description' | translate }}">{{board?.description}}</textarea>
</div>
