<mat-dialog-content class="popup">
    <input
        #cardTitleInput
        [value]="data?.title"
        class="popup__input-title"
        matInput
        type="text"
        placeholder="Enter a title for this card"
        autocomplete="off"
        required>

    <div class="popup__content">
        <div class="popup__main-content">
            <div class="popup__description">
                <h3 class="popup__section-title">
                    <mat-icon>view_headline</mat-icon>
                    Description
                </h3>
                <textarea #descriptionTextarea
                          autosize
                          class="popup__description-input"
                          placeholder="Add a more detailed description..."
                          autocomplete="off"
                          autofocus="off"></textarea>
            </div>

            <!--                        <button (click)="getFile(file.id)">Get file</button>-->
            <div class="popup__file-upload">

                {{"Upload file"}}

                <button mat-mini-fab color="primary" class="upload-btn"
                        (click)="fileUpload.click()">
                    <mat-icon>attach_file</mat-icon>
                </button>
                <div class="popup__files-container">
<!--                    <mat-spinner *ngIf="files"></mat-spinner>-->
                    <div class="popup__file-wrapper"
                         #test
                         *ngFor="let file of files">
                        <img class="image"
                             *ngIf="file?.mimetype.split('/')[0] === 'image'"
                             (click)="openDialog(file)"
                             [src]="file?.src| safe: 'resourceUrl'"
                             alt="image"/>
                        <img class="image"
                             *ngIf="file?.mimetype.split('/')[0] !== 'image'"
                             (click)="openDialog(file)"
                             src="../../../../../assets/images/jpg/file-image.jpg"
                             alt="image"/>

                        <div class="file-info">
                            <p><b>{{file?.originalname}}</b></p>
                            <!--                            <p>Size:{{(file['size']/1024) + ' kb'}}</p>-->
                            <button mat-button class="delete-image-btn" (click)="onDeleteFile(file?.id)">Delete file</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="popup__actions">
                <h3 class="popup__section-title">
                    <mat-icon>view_headline</mat-icon>
                    Actions
                </h3>
                <app-add-comment [currentCard]="this.data"></app-add-comment>
            </div>
            <!--            <div class="popup__add-to-card-section">-->
            <!--                <button mat-button-->
            <!--                        (click)="fileUpload.click()">-->
            <!--                    <mat-icon>attach_file</mat-icon>-->
            <!--                    Attachments-->
            <!--                </button>-->
            <!--                <input type="file" class="popup__file-input"-->
            <!--                       (change)="onFileSelected($event)" #fileUpload>-->

            <!--                <b>Uploaded files</b>-->
            <!--                <mat-list class="popup-upload-file-list">-->
            <!--                    <div mat-line *ngIf="files.length === 0">No file uploaded yet.</div>-->

            <!--                    <mat-list-item *ngFor="let file of files">-->
            <!--                        <mat-icon>insert_drive_file</mat-icon>-->
            <!--                        <p (click)="openImg(file.name)">{{file.name}}</p>-->
            <!--                    </mat-list-item>-->
            <!--                </mat-list>-->
            <!--            </div>-->
        </div>

        <div class="popup__aside-content">
            <b>Add to card</b>
            <div class="popup__aside-buttons">
                <button mat-button>
                    <mat-icon>person</mat-icon>
                    Participants
                </button>
<!--                <button mat-button>-->
<!--                    <mat-icon>local_offer</mat-icon>-->
<!--                    Tags-->
<!--                </button>-->
<!--                <button mat-button>-->
<!--                    <mat-icon>playlist_add_check</mat-icon>-->
<!--                    Checklist-->
<!--                </button>-->
<!--                <button mat-button>-->
<!--                    <mat-icon>access_time</mat-icon>-->
<!--                    Dates-->
<!--                </button>-->
                <button mat-button [matMenuTriggerFor]="attachmentMenu">
                    <mat-icon>attach_file</mat-icon>
                    Attachments
                </button>
            </div>
        </div>
        <mat-menu #attachmentMenu="matMenu">
            <button class="mat-menu-item"
                    mat-menu-item>
                <input multiple
                       class="popup__file-input"
                       type="file"
                       name="file"
                       placeholder="From a computer"
                       (change)="onFileSelected($event)" #fileUpload>From a computer...
            </button>
        </mat-menu>
    </div>
</mat-dialog-content>
