* {
  color: #172b4d;
}


::-webkit-scrollbar {
  width: 7px;
  height: 12px;
  background-color: hsla(210, 5%, 8%, 0.16);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: hsla(240, 7%, 3%, 0.16);
  border-radius: 5px;
}

.popup {
  width: 700px;

  &__content {
    display: grid;
    grid-template-columns: minmax(150px, 3.33fr) minmax(150px, 1.33fr);
    grid-template-rows: 1fr;
    grid-gap: 10px;
  }

  &__main-content {
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 10px;
  }

  &__input-title {
    width: 100%;
    margin-bottom: 15px;
    background-color: #FFFFFF;
    outline: none;
    border: none;
    border-radius: 3px;
    padding: 8px 12px;
    resize: none;

    &:focus {
      font-weight: normal;
      width: 100%;
      border: 2px solid #839bff;
      background-color: rgba(255, 255, 255, 0.92);
    }
  }

  &__description {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
  }

  &__description-input {
    display: block;
    width: 100%;
    outline: none;
    border: none;
    min-height: 50px;
    background-color: #091e4214;
    border-radius: 3px;
    padding: 8px 12px;
    resize: none;
    color: #7a7a7a;
    font-family: Roboto, "Helvetica Neue", sans-serif;

    &:focus {
      font-weight: normal;
      border-radius: 3px;
      width: 100%;
      border: 2px solid #839bff;
      background-color: rgba(255, 255, 255, 0.92);
    }
  }

  &__section-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
  }

  &__comment-input {
    width: 100%;
    min-height: 20px;
    background-color: #FFFFFF;
    outline: none;
    border: 2px solid #c9c9c9;
    border-radius: 5px;
    padding: 8px 12px;
    resize: none;
  }

  &__aside-buttons {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
  }

  &__file-input {
    display: none;
  }

  &__add-to-card-section {
    display: flex;
    flex-direction: column;
  }

  button {
    background-color: #091e4214;
    width: 100%;
    margin: 3px 0;
    text-align: start;
  }

  .upload-btn {
    width: 40px;
    text-align: center;
  }

  mat-icon {
    color: #7a7a7a;
    font-size: 18px;
    height: 18px;
  }

  .mat-menu-item {
    width: 250px !important;
  }

  .image{
    width: 100px;
  }

  //.my-class .mat-dialog-container{
  //  width: 1000px!important;
  //}

  app-open-file{
    width: 100% !important;
    height: 100% !important;
  }
}

