iframe{
  position: absolute;
  width: 100%;
  height: 100%;

}
iframe #document html body{
  display: flex!important;
  align-items: center!important;
  justify-content: center!important;
}

iframe img{
  width: 100px;
}
